.test {
    position: absolute;
    margin-top: 100px;
    margin-left: 550px;
    border: 6px;
    border-style:solid;
    border-color:cadetblue  ;
}

.pieces {
    transform: scale(2);
    position: absolute;
    visibility: hidden;
}

.rukia {
    position: absolute;
}